body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  margin: 0;
}

.container {
  margin-top: 100px;
}

.status {
  font-size: 40px;
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
  width: 300px;
}

.livre {
  background: #22c55e; /* verde */
}

.ocupado {
  background: #ef4444; /* vermelho */
}

p {
  font-size: 18px;
}
